$yellowbeauval: #DEAF00;
$topinfobackground: #1D485C;

*{
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
}

.topinfo {
    background: $topinfobackground;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    p{
        color: #fff;
        font-size: .8em;
         padding: 10px 10px;
     }
         a{
             color: $yellowbeauval;
    }
}  