$main: #183933;
$mainbottom: #092330;
$yellowbeauval: #DEAF00;
$topinfobackground: #1D485C;

*{
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
}

// ====== top info ====== //

.topinfo {
    background: $topinfobackground;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    p{
        color: #fff;
        font-size: .940rem;
        font-weight: 300;
        padding: 0.825rem 0;
        width: 74rem;
     }
         a{
             color: $yellowbeauval;
    }
}  

@media screen and (max-width: 1000px){
    .topinfo{
        padding: 0px 11px;
    }
    
}
//  top barre info // 
// =======================================//
// top nav //

.background-header{
    background: url("img/flamant-rose.jpg") no-repeat;
    height: 90vh;
}

.topnav{
    display: flex;
}

.logo{
    margin: 30px 50px 0 200px;
}

.nav{
    margin: 30px auto 0 50px;
    align-items: center;
    margin-right: 180px;
    ul{
        display: flex;
        justify-content: flex-end;
        li{
            list-style-type: none;
            padding-right: 25px;
            :hover{
                color: $yellowbeauval;
                transition: 0.5s;
            }
            a{
                line-height: 1.5;
                color: #fff;
                position: relative;
                display: block;
                font-weight: 700;
                font-size: 16px;
                text-decoration: none;
                width: 80%;
            }
        }
    }
}

.billeterie{
    margin-left: auto;
    align-items: center;
    padding: 0;
    margin: 0;
    :hover{
        transform: translateY(-1px);
        transition: 0.5s;
    }
}

@media screen and (max-width: 1000px){
    .topnav .nav a{
        font-size: .800rem;
        width: 70%;
    }
}

hr{
    margin-left: auto;
    margin-top: 16px;
    border: none;
    height: 1px;
    background: #fff;
    max-width: 67.925rem;
}

// ========== fin top nav ========== //

.main{
    background: linear-gradient($main, $mainbottom);
    height: 150vh;
}
