$yellowbeauval: #DEAF00;
$topinfobackground: #1D485C;

*{
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
}

.topinfo {
    background: $topinfobackground;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    p{
        color: #fff;
        font-size: .740rem;
        font-weight: 300;
        padding: 0.625rem 0;
        width: 60rem;
     }
         a{
             color: $yellowbeauval;
    }
}  
